
    
      <div class="col-xs-3">
        <%= render 'users/userslist', user: @book.user %>
        <%= render 'books/bookslist', book: @new %>
      </div>

      <div class="col-lg-9">
       <table class="table tables-striped">
        <h2>Book detail</h2>

        <tbody>
         
          <tr>
            <td>
             <%= link_to user_path(@user.id) do %>
              <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %><br>
              <%= @user.name %>
             <% end %>
            </td>
            <td><a href=""><%= @book.title %></a></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
             <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
             <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %>
            <% end %>
            </td>
          </tr>
         </tbody>
       </table>
      </div>

